nav {
    text-align: right;
    
}
i {
    margin: right;
}
 a {
    margin:right;
}
* {
    border: 1px solid blue;
}
main {
    
    
text-align: center;
} 
a {
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

i{
    margin-right: 20px;
    
}
a {
    text-decoration: underline;
}
p {
    background-color:lavender;
    color:gray;
}
a {
    color: gray;
    border: blue;
}
div {
    border: 1px solid #dfe1dfe5;
    border-radius: 24px;
    width: 400px;
    margin: 0 auto;
    padding: 10px 0;
}
input {
    border: none;
    width: 300px;
}
input:focus {
    outline: none;
}
button {
    margin-right: ;
}
